:root
{
  --Tan: #d2b48c;
  --White: #ffffff;
  --Light-Blue: #add8e6;
}

body
{
    background-color: var(--Tan);
}

*
{
    color: var(--Light-Blue);
    text-align: center;
}

h1
{
    font-size: calc(15pt + 4vw);
}

nav
{
    border: 7px var(--Light-Blue) solid;
    margin: 8vw;
    margin-top: 7px;
  font-size:(12pt+2vw)
}

section
{
    border: 5px var(--Light-Blue) solid;
    margin: 18vw;
    margin-top: 28px;
}

.date
{
    color: var(--White);
    white-space: nowrap;
}

.date strong
{
    color: var(--White);
    white-space: nowrap;
}

ul
{
    list-style: none;
    padding-left: 0px;
}

{
    color: var(--White);
    white-space: nowrap;
}
ul
{
    list-style: none;
    padding-left: 0px;
}
